.list-item {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.list-title {
    color: black;
    display: flex;
    justify-content: space-between;
}
.list-description {
    color: grey;
    padding-bottom: 10px;
}
.list-item-delete {
    cursor: pointer;
    font-size: 12px;
    color: blue;
}